# Server
PORT=5000
CLIENT_URL=http://localhost:5173

# JWT
JWT_SECRET=change_this_to_a_long_random_secret_string_in_production
JWT_EXPIRES_IN=24h

# Admin credentials (created on first run if no admin exists)
ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@lms.com
ADMIN_PASSWORD=admin123

# Upload limits (in bytes)
MAX_VIDEO_SIZE=524288000
MAX_PRESENTATION_SIZE=104857600

# Quiz pass percentage default
DEFAULT_PASS_PERCENTAGE=70
